@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@font-face {
  font-family: "Open Sans";
  src: url(/fonts/Open-Sans.eot?06a04537db9294681f93bc12bd1d9c53);
  src: url(/fonts/Open-Sans.eot?06a04537db9294681f93bc12bd1d9c53?#iefix) format("embedded-opentype"), url(/fonts/Open-Sans.woff2?8a0ebc534f0927d24d959f99d794242f) format("woff2"), url(/fonts/Open-Sans.woff?62ce5818ce607b8ecd18a55b3e7bbe65) format("woff"), url(/fonts/Open-Sans.svg?022a0ebe529880449ef3d2bf20f4aa5f#Open Sans) format("svg"), url(/fonts/Open-Sans.ttf?629a55a7e793da068dc580d184cc0e31) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/Open-Sans-Semibold.eot?31a82a9bde90eec038693f26ada892ad);
  src: url(/fonts/Open-Sans-Semibold.eot?31a82a9bde90eec038693f26ada892ad?#iefix) format("embedded-opentype"), url(/fonts/Open-Sans-Semibold.woff2?5f276fbfbdcfa0d6d349a92f80ca02dc) format("woff2"), url(/fonts/Open-Sans-Semibold.woff?182802f3f8059f91f07c3c6ee44b113f) format("woff"), url(/fonts/Open-Sans-Semibold.svg?2c9ca963b3fffcdbb7aafa426f51243d#Open Sans) format("svg"), url(/fonts/Open-Sans-Semibold.ttf?33f225b8f5f7d6b34a0926f58f96c1e9) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/Open-Sans-Light.eot?b180c799a87a4cad9108713ebe309686);
  src: url(/fonts/Open-Sans-Light.eot?b180c799a87a4cad9108713ebe309686?#iefix) format("embedded-opentype"), url(/fonts/Open-Sans-Light.woff2?6c5ff600d6c86028dc708e874cd68c8d) format("woff2"), url(/fonts/Open-Sans-Light.woff?8528d42e728db092bc8d1906e6700438) format("woff"), url(/fonts/Open-Sans-Light.svg?f9b44716e739cfa488c4185e244c1afd#Open Sans) format("svg"), url(/fonts/Open-Sans-Light.ttf?1bf71be111189e76987a4bb9b3115cb7) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/Open-Sans-Bold.eot?33696c1691b434f58dd2887f2fa2a30f);
  src: url(/fonts/Open-Sans-Bold.eot?33696c1691b434f58dd2887f2fa2a30f?#iefix) format("embedded-opentype"), url(/fonts/Open-Sans-Bold.woff2?2ba6100c683690b40cfa25bf907d91ff) format("woff2"), url(/fonts/Open-Sans-Bold.woff?d953b1c1136b7221fef3d22fc41df01e) format("woff"), url(/fonts/Open-Sans-Bold.svg?bfde6035d35afa4aeeb9f9cbcab536dc#Open Sans) format("svg"), url(/fonts/Open-Sans-Bold.ttf?50145685042b4df07a1fd19957275b81) format("truetype");
  font-style: normal;
  font-weight: 600;
}

/* Transition */

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

* {
  font-family: "Open sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0px 0px 0px;
          transform-origin: 0px 0px 0px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  /* Adjust font size */
  font-size: 100%;
  line-height: 1.15;
  /* 1 */
  /* Font varient */
  -webkit-font-variant-ligatures: none;
          font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

canvas {
  width: 100%;
  height: auto;
}

small,
.small {
  font-size: 85%;
}

mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857143;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 0;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  line-height: 1.42857143;
  color: #777;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

code,
kbd,
pre,
samp {
  font-family: "Times New Roman", Georgia, Serif;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 600;
  -webkit-box-shadow: none;
  box-shadow: none;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #fff;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

select[multiple],
select[size] {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.row {
  width: 100%;
}

img[lazy=loading],
.mm-img[lazy=loading] {
  /*your style here*/
  max-width: 100%;
  opacity: 0;
  padding: 0px;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  min-height: 1px;
}

img[lazy=error],
.mm-img[lazy=error] {
  /*your style here*/
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

img[lazy=loaded],
.mm-img[lazy=loaded] {
  /*your style here*/
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

